In [1]:
# Q1
# SELECT *
# FROM Facilities
# WHERE membercost >0;

# Q2
# SELECT COUNT( name )
# FROM Facilities
# WHERE membercost = 0;

# Q3
# SELECT facid, name, membercost, monthlymaintenance
# FROM Facilities
# WHERE membercost < 0.2 * monthlymaintenance;

# Q4
# SELECT *
# FROM `Facilities`
# WHERE facid =1
# OR facid =5;

# Q5
# SELECT name, monthlymaintenance,
# CASE WHEN monthlymaintenance >100
# THEN 'expensive'
# ELSE 'cheap'
# END AS 'cost'
# FROM Facilities;

# Q6
# SELECT surname, firstname, joindate
# FROM `Members` 
# WHERE LAST_DAY(joindate);

# Q7
# SELECT bf.facid, m.surname, m.firstname, bf.name
# FROM (SELECT DISTINCT b.facid, b.memid, f.name
# FROM Bookings AS b
# LEFT JOIN Facilities AS f ON b.facid = f.facid
# WHERE b.facid =0
# OR b.facid =1) AS bf
# LEFT JOIN Members AS m ON bf.memid = m.memid
# ORDER BY m.surname, m.firstname;

# Q8
# SELECT b.facid, b.starttime, f.membercost, f.guestcost, f.name, m.surname, m.firstname
# FROM Bookings AS b
# LEFT JOIN Facilities AS f ON b.facid = f.facid
# LEFT JOIN Members as m ON b.memid = m.memid 
# WHERE b.starttime LIKE '2012-09-14%'
# AND (f.membercost >=30 OR f.guestcost >=30)
# ORDER BY f.guestcost DESC;

# Q9
# SELECT bf.facid, bf.memid, bf.starttime, bf.membercost, bf.guestcost, bf.name, m.surname, m.firstname
# FROM (SELECT b.facid, b.memid, b.starttime, f.membercost, f.guestcost, f.name
# FROM Bookings AS b
# LEFT JOIN Facilities AS f ON b.facid = f.facid
# WHERE b.starttime LIKE '2012-09-14%'
# AND (f.membercost >=30
# OR f.guestcost >=30)) AS bf
# LEFT JOIN Members AS m ON bf.memid = m.memid
# ORDER BY bf.guestcost DESC;

In [2]:
# 10
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [3]:
# 11
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT sub.name, SUM( sub.revenue ) AS revenue
        FROM ( SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT( b.facid ) AS facid_count,
        CASE
        WHEN b.memid =0
        THEN COUNT( b.facid ) * f.guestcost
        ELSE COUNT( b.facid ) * f.membercost
        END AS 'revenue'
        FROM Bookings AS b
        LEFT JOIN Facilities AS f ON b.facid = f.facid
        GROUP BY b.facid, b.memid
        ) AS sub
        GROUP BY sub.facid
        HAVING revenue <=1000;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 604.5)
('Table Tennis', 90)
('Snooker Table', 115)
('Pool Table', 265)

In [4]:
# 12
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.surname, m.firstname, m.recommendedby AS recomender_id, r.surname AS recomender_surname, r.firstname AS recomender_firstname
        FROM Members AS m
        LEFT JOIN Members AS r ON m.recommendedby = r.memid
        WHERE m.recommendedby != 0
        ORDER BY r.surname, r.firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('GUEST', 'GUEST', '', None, None)
('Smith', 'Darren', '', None, None)
('Smith', 'Tracy', '', None, None)
('Rownam', 'Tim', '', None, None)
('Tracy', 'Burton', '', None, None)
('Farrell', 'Jemima', '', None, None)
('Farrell', 'David', '', None, None)
('Tupperware', 'Hyacinth', '', None, None)
('Smith', 'Darren', '', None, None)
('Sarwin', 'Ramnaresh', '15', 'Bader', 'Florence')
('Coplin', 'Joan', '16', 'Baker', 'Timothy')
('Genting', 'Matthew', '5', 'Butters', 'Gerald')
('Baker', 'Timothy', '13', 'Farrell', 'Jemima')
('Pinker', 'David', '13', 'Farrell', 'Jemima')
('Rumney', 'Henrietta', '20', 'Genting', 'Matthew')
('Jones', 'Douglas', '11', 'Jones', 'David')
('Dare', 'Nancy', '4', 'Joplette', 'Janice')
('Jones', 'David', '4', 'Joplette', 'Janice')
('Hunt', 'John', '30', 'Purview', 'Millicent')
('Boothe', 'Tim', '3', 'Rownam', 'Tim')
('Joplette', 'Janice', '1', 'Smith', 'Darren')
('Butters', 'Gerald', '1', 'Smith', 'Darren')
('Owen', 'Charles', '1', 'Smith', 'Darren')
('Smith', 'Jack', '1', 'Smith', 'Darren')
('Mackenzie', 'Anna', '1', 'Smith', 'Darren')
('Worthington-Smyth', 'Henry', '2', 'Smith', 'Tracy')
('Purview', 'Millicent', '2', 'Smith', 'Tracy')
('Crumpet', 'Erica', '2', 'Smith', 'Tracy')
('Baker', 'Anne', '9', 'Stibbons', 'Ponder')
('Bader', 'Florence', '9', 'Stibbons', 'Ponder')
('Stibbons', 'Ponder', '6', 'Tracy', 'Burton')

In [5]:
# 13
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT b.facid, COUNT( b.memid ) AS mem_usage, f.name
        FROM (
        SELECT facid, memid
        FROM Bookings
        WHERE memid !=0
        ) AS b
        LEFT JOIN Facilities AS f ON b.facid = f.facid
        GROUP BY b.facid;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 308, 'Tennis Court 1')
(1, 276, 'Tennis Court 2')
(2, 344, 'Badminton Court')
(3, 385, 'Table Tennis')
(4, 421, 'Massage Room 1')
(5, 27, 'Massage Room 2')
(6, 195, 'Squash Court')
(7, 421, 'Snooker Table')
(8, 783, 'Pool Table')

In [6]:
# 14
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT b.months, COUNT( b.memid ) AS mem_usage
        FROM (
            SELECT MONTH(starttime) AS months, memid
            FROM Bookings
            WHERE memid !=0)
            AS b
        GROUP BY b.months;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such function: MONTH